.container {
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  z-index: 1;
}

.title {
  font-size: 2.8rem;
  color: white;
}

.github {
  width: 50px;
  height: 50px;
}