.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input {
  font-size: 20px;
  line-height: 40px;
  width: 50%;
  padding-left: 10px;
  border-radius: 10px;
}

.searchButton {
  width: 30px;
  margin-left: -40px;
}